@page "/cart"
@inject HttpClient client
@using Blazored.LocalStorage
@using System.Text.Json
@inject ILocalStorageService localStorage

@if (Order == null && !noCart)
{
    <p>Loading...</p>
}
else if (noCart)
{
    <p>No items in cart</p>
}
else
{
    <OrderView Order="@Order"></OrderView>
}

@code {
    public IEditableOrder Order { get; set; }

    public bool noCart = false;

    protected async override Task OnInitializedAsync()
    {
        if (await localStorage.ContainKeyAsync("Cart"))
        {

            string cartString = await localStorage.GetItemAsStringAsync("Cart");
            Order = JsonSerializer.Deserialize<OrderDisplay>(cartString);

            return;
        }

        noCart = true;
    }
}