@page "/"
@inject HttpClient client


<div class="row">
    <div class="col-8">
        <h1>You are viewing our products:</h1>
    </div>
    <div class="col-4">
        @if (Categories != null)
        {
            <div class="input-group">
                <label class="col-5 text-right" for="ProductCategory">Filter by</label>
                <select class="col-7 form-control">
                    <option value="">Category</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category.CategoryID">@category.Name</option>
                    }
                </select>
            </div>
        }
    </div>


</div>

<div class="row">
    @if (Products != null)
    {
        @foreach (var product in Products)
        {
            <ProductCard Product="@product"></ProductCard>
        }
    }
    else
    {
        <p>Loading...</p>
    }
</div>


@code{
    private IReadOnlyList<IProductDisplay> Products { get; set; }
    private IReadOnlyList<ICategoryBase> Categories { get; set; }

    private ICategoryBase Category { get; }

    protected async override Task OnInitializedAsync()
    {
        Products = await client.GetFromJsonAsync<IReadOnlyList<ProductDisplay>>("Controller/Products");
        Categories = await client.GetFromJsonAsync<IReadOnlyList<CategoryBase>>("Controller/Categories");
    }
}