@page
@model Oiski.School.H3_2021.Webshop.WebApp.Pages.Cart.CheckoutIndexModel
@{
}

<div class="container">
    <h2 class="text-center">Checking out your order.</h2>
    <hr />
    <form method="post" asp-page-handler="ConfirmCheckout">
        <div class="row m-auto">
            <div class="col-6">
                <div class="border">
                    <card>
                        <div class="card-body">
                            <h4 class="card-title text-center">Enter your information below:</h4>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="FirstNameInput">First Name</label>
                                    <input type="text" class="form-control" asp-for="FirstNameInput" placeholder="Enter first name..." />
                                    <span asp-validation-for="FirstNameInput"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="LastNameInput">Last Name</label>
                                    <input type="text" class="form-control" asp-for="LastNameInput" placeholder="Enter last name..." />
                                    <span asp-validation-for="LastNameInput"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmailInput">Email address</label>
                                <input type="email" class="form-control" asp-for="EmailInput" placeholder="Enter email address..." />
                                <span asp-validation-for="EmailInput"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="AddressInput">Address</label>
                                    <input type="text" class="form-control" asp-for="AddressInput" placeholder="Enter address..." />
                                    <span asp-validation-for="AddressInput"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="PhoneInput">Phone number</label>
                                    <input type="text" class="form-control" asp-for="PhoneInput" placeholder="Enter phone number..." />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label asp-for="CountryInput">Country</label>
                                    <input type="text" class="form-control" asp-for="CountryInput" placeholder="Enter country..." />
                                    <span asp-validation-for="CountryInput"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="CityInput">City</label>
                                    <input type="text" class="form-control" asp-for="CityInput" placeholder="Enter city..." />
                                    <span asp-validation-for="CityInput"></span>
                                </div>
                                <div class="form-group col-4">
                                    <label asp-for="ZipInput">Zip</label>
                                    <input type="text" class="form-control" asp-for="ZipInput" placeholder="Enter zip..." />
                                    <span asp-validation-for="ZipInput"></span>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-success">Confirm checkout</button>
                                <button type="submit" asp-page="/Index" class="btn btn-danger">Cancel checkout</button>
                            </div>

                        </div>
                    </card>
                </div>

            </div>
            <div class="col-6">
                <div class="border">
                    <table class="table">
                        <tbody>
                            @*@foreach (var product in Model.OrderProducts)
                                {*@
                            <tr>
                                <td class="col-5">
                                    @*@Html.DisplayFor(modelItem => product.Product.Title)*@
                                    <p>This is the product title.</p>
                                </td>
                                <td class="col-2">
                                    @*<input type="number" value="@Html.DisplayFor(modelItem => product.Quantity)" />*@
                                    <p>4 items</p>
                                </td>
                                <td class="col-2">
                                    <p><b>$</b>35,65</p>
                                    @*<b>$</b>@Html.DisplayFor(modelItem => product.Product.Price)*@
                                </td>
                            </tr>
                            <hr />
                            <tr>
                                <td class="col-5">
                                    @*@Html.DisplayFor(modelItem => product.Product.Title)*@
                                    <p>This is the product title.</p>
                                </td>
                                <td class="col-2">
                                    @*<input type="number" value="@Html.DisplayFor(modelItem => product.Quantity)" />*@
                                    <p>2 items</p>
                                </td>
                                <td class="col-2">
                                    <p><b>$</b>35,65</p>
                                    @*<b>$</b>@Html.DisplayFor(modelItem => product.Product.Price)*@
                                </td>
                            </tr>
                            <tr>
                                <td class="col-7">
                                    <p><b>The total price will be:</b></p>
                                </td>
                                <td class="col">
                                </td>
                                <td class="col-5">
                                    <p><b>$</b>2,352.9</p>
                                </td>
                            </tr>
                            @*}*@
                        </tbody>
                    </table>
                </div>
                <card>
                    <div class="card-body">
                        <h5 class="text-center">Choose your payment method:</h5>
                        <div class="form-row">
                            <div class="col-6 form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">VISA card:</span>
                                    </div>
                                    <div class="form-control col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="VISACheckbox" name="VISACheckbox" value="true">
                                            <input name="VISACheckbox" type="hidden" value="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Paypal account:</span>
                                    </div>
                                    <div class="form-control col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="PaypalCheckbox" name="PaypalCheckbox" value="true">
                                            <input name="PaypalCheckbox" type="hidden" value="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
                <card>
                    <div class="card-body">
                        <h5 class="text-center">Choose your delivery method:</h5>
                        <div class="form-row">
                            <div class="col-6 form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Post nord:</span>
                                    </div>
                                    <div class="form-control col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="PostNordCheckbox" name="PostNordCheckbox" value="true">
                                            <input name="PostNordCheckbox" type="hidden" value="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">GLS delivery:</span>
                                    </div>
                                    <div class="form-control col-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" asp-for="GLSCheckbox" name="GLSCheckbox" value="true">
                                            <input name="GLSCheckbox" type="hidden" value="false" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </card>
            </div>
        </div>
    </form>
</div>