@page "{productID:int}";
@model Oiski.School.H3_2021.Webshop.WebApp.Pages.ProductCRUD.DeleteModel
@{
    ViewData["Title"] = "Product Delete page";
}

<div class="container text-center">
    <h1>You are about to delete:</h1>
    <div class="row m-auto">
        <partial name="/Pages/Partials/_ProductDetailsPartial.cshtml" model="Model.ProductDTO" />
    </div>
    <card>
        <div class="card-body">
            <form method="post" asp-page-handler="DeleteProduct">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductDTO.ProductID" />
                <div class="form-group">
                    <p>Are you sure you want to do this?</p>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="submit" asp-page="/Index" class="btn btn-info">Cancel</button>
                </div>
            </form>
        </div>
    </card>
</div>