@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <NavLink class="nav-link" href="cart">
                <span class="oi oi-cart" aria-hidden="true"></span> Cart
            </NavLink>
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="3"
                        IconType="IconType.FontAwesome"
                        SuccessIcon="fas fa-check"
                        ErrorIcon="fas fa-times-circle"
                        MaxToastCount="3"></BlazoredToasts>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
