@page
@model Oiski.School.H3_2021.Webshop.WebApp.Pages.User.UserCreateModel
@{
    ViewData["Title"] = "User creation page";
}

<div class="container">
    <div class="row m-auto">
        <div class="border">
            <card>
                <div class="card-body">
                    <h4 class="card-title text-center">Create yourself as a customer:</h4>
                    <form method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="FirstNameInput">First Name</label>
                                <input type="text" class="form-control" asp-for="FirstNameInput" placeholder="Enter first name..." />
                                <span asp-validation-for="FirstNameInput"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="LastNameInput">Last Name</label>
                                <input type="text" class="form-control" asp-for="LastNameInput" placeholder="Enter last name..." />
                                <span asp-validation-for="LastNameInput"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailInput">Email address</label>
                            <input type="email" class="form-control" asp-for="EmailInput" placeholder="Enter email address..." />
                            <span asp-validation-for="EmailInput"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="PasswordInput">Password</label>
                                <input type="password" class="form-control" asp-for="PasswordInput" placeholder="Enter password..." />
                                <span asp-validation-for="PasswordInput"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ConfirmPasswordInput">Password</label>
                                <input type="password" class="form-control" asp-for="ConfirmPasswordInput" placeholder="Confirm password..." />
                                <span asp-validation-for="ConfirmPasswordInput"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="AddressInput">Address</label>
                                <input type="text" class="form-control" asp-for="AddressInput" placeholder="Enter address..." />
                                <span asp-validation-for="AddressInput"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PhoneInput">Phone number</label>
                                <input type="text" class="form-control" asp-for="PhoneInput" placeholder="Enter phone number..." />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label asp-for="CountryInput">Country</label>
                                <input type="text" class="form-control" asp-for="CountryInput" placeholder="Enter country..." />
                                <span asp-validation-for="CountryInput"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="CityInput">City</label>
                                <input type="text" class="form-control" asp-for="CityInput" placeholder="Enter city..." />
                                <span asp-validation-for="CityInput"></span>
                            </div>
                            <div class="form-group col-4">
                                <label asp-for="ZipInput">Zip</label>
                                <input type="text" class="form-control" asp-for="ZipInput" placeholder="Enter zip..." />
                                <span asp-validation-for="ZipInput"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group text-right">
                            <button type="submit" asp-action="AddCustomer" class="btn btn-success">Create</button>
                            <button type="submit" asp-page="/Login/LoginIndex" class="btn btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </card>
        </div>
        
        
    </div>
</div>