@page
@model Oiski.School.H3_2021.Webshop.WebApp.Pages.ProductCRUD.DetailsModel
@{

}

<div class="container">
    <div class="row m-auto">
        <partial name="/Pages/Partials/_ProductDetailsPartial.cshtml" model="Model.Product" />
    </div>
</div>